{% extends 'base.html.twig' %}

{% block title %}
Post show
{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-4"><img src="{{vich_uploader_asset(post, 'imageFile')}}" alt=""
                style="max-width: 100%; max-height: 100%;"></div>
        <div class="col-4"> Comments go here </div>
        <div class="col-2"></div>
    </div>
</div>
{% endblock %}